<header>
  <button class="back" (click)="navigateBack()"><</button>
</header>
<div class="preview">
  <img [src]="image$ |async">
</div>
<main class="content">
  <h1>{{title$ | async}}</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illum vero? Commodi delectus dicta eum
    explicabo iure nobis non quaerat quisquam quo rerum. Ab autem corporis distinctio iure nihil.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illum vero? Commodi delectus dicta eum
    explicabo iure nobis non quaerat quisquam quo rerum. Ab autem corporis distinctio iure nihil.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illum vero? Commodi delectus dicta eum
    explicabo iure nobis non quaerat quisquam quo rerum. Ab autem corporis distinctio iure nihil.</p>
</main>

