:host {
  display: block;
  max-height: calc(100vh - 6rem);
  position: relative;
  color: var(--color-on-backgorund);
  padding: 2rem;
  overflow: hidden;

  view-transition-name: image;
  contain: layout;
}


.content {
  display: grid;
  gap: 2rem;
  padding: 1rem 4rem 2rem 4rem;
  overflow-y: auto;
  max-height: calc(100vh - 6.375rem - 6rem);
}

.chips {
  display: flex;
  gap: 0.5rem;
}
