:root {
  --color-primary: hsl(3, 100%, 65%);
  --color-on-primary: hsl(0, 0%, 100%);
  --color-background: hsl(224, 45%, 11%);
  --color-on-backgorund: hsl(0, 0%, 100%);
  --color-outline: hsl(224, 45%, 23%);
  --color-backdrop: hsla(0, 0%, 0%, .38);

  --color-emphasis: hsl(224, 45%, 31%);
  --app-logo: url('assets/logo.svg');

  --gradient-stops: hsl(3, 100%, 90%), var(--color-primary), white;
}

* {
  margin: unset;
  box-sizing: border-box;
  font-family: "Campton", Sans-serif;;
}

html, body {
  height: 100vh;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}


h1 {
  color: transparent;
  font-size: 5rem;
  background-image: linear-gradient(to right, var(--gradient-stops));
  -webkit-background-clip: text;
  background-clip: text;
}

h3 {
  font-size: 3rem;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--color-on-backgorund);
  z-index: 20;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--color-primary);
    bottom: -0.25rem;
    z-index: 10;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
  }

  &:hover {
    &::after {
      transform: scaleX(100%);

    }
  }
}

input {
  outline: unset;
  border: 2px solid var(--color-outline);
  padding: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background-color: hsl(224, 50%, 15%);
  color: var(--color-on-backgorund);

  &::placeholder {
    color: hsl(224, 50%, 80%);
  }


  &:focus-visible {
    border: 2px solid var(--color-primary);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

