@use 'breakpoints';

:host {
  display: block;
  width: 100%;
  height: calc(100% - 4rem);
  padding: var(--gap-l) 3.5rem var(--gap-l) 0;

  .grid {
    height: calc(100% - 8rem);
    display: grid;
    grid-template-areas:
                        "talks creation creation webinars"
                        "talks  article article contentmix";
    grid-template-rows:  repeat(2, 1fr);
    grid-template-columns: repeat( 4, minmax(0, 1fr));
    gap: var(--gap-l);
    padding-top: var(--gap-xl);
  }


  h1 {
    height: min-content;
    margin: 0;
  }

  .talks {
    grid-area: talks;
  }

  labs-content-creation-overview {
    grid-area: creation
  }

  labs-articles-overview {
    grid-area: article;
  }

  .webinars {
    grid-area: webinars;
  }

  labs-conten-mix {
    grid-area: contentmix;
  }

  @include breakpoints.m {
    .grid {
      grid-template-areas:
                        "talks creation  webinars"
                        "talks  article  contentmix";
      grid-template-columns: 1fr 1.5fr 1fr;
    }

  }

  @include breakpoints.use(s, xs) {
    padding: var(--gap-m) var(--gap-m) 0 var(--gap-m);
    .grid {
      grid-template-areas: revert;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, minmax(max-content, 1fr));
      gap: var(--gap-xl);

      > * {
        grid-area: unset;
      }
    }


  }
}
