<h1>Dashboard</h1>
<div class="grid">
  <labs-dash-list [dataSource]="(talks$ |async) ?? []" [listItemTemplate]="talkTemplate" [showAllRoute]="['/talks']"
                  class="talks" title="Nächste Talks"></labs-dash-list>
  <labs-content-creation-overview></labs-content-creation-overview>
  <labs-articles-overview [articles]="(articles$ | async) ?? []"></labs-articles-overview>

  <labs-dash-list [dataSource]="(myTalks$| async) ?? []" [listItemTemplate]="talkTemplate"
                  [showAllRoute]="['/webinars']"
                  class="webinars" title="Nächste Webinars"></labs-dash-list>
  <labs-conten-mix></labs-conten-mix>
</div>

<ng-template #talkTemplate let-item>
  <labs-talk-list-item [talk]="item"></labs-talk-list-item>
</ng-template>
