@use "typography";
/* You can add global styles to this file, and also import other style files */
:host {
  // Overrides
  --app-logo: url('assets/logo.svg');
  --xl-gap: 2rem;
  --l-gap: 1.5rem;
  --m-gap: 1rem;
  --s-gap: 0.5rem;
  --xs-gap: 0.25rem;


}

body {
  margin: 0;
}

h1 {
  @include typography.display-m;
  font-weight: lighter;
}

h2 {
  @include typography.title-l;
  font-weight: normal;
}

/*
* Custom Scroll-Bar Style, für alle Plattformen.
*/
* {
  /* firefox */
  scrollbar-color: var(--md-sys-color-scrollbar-thumb) transparent;
  scrollbar-width: thin;

  /* chromium safari*/
  &::-webkit-scrollbar-track {
    background-color: var(--md-sys-color-scrollbar-track);
    border-bottom-right-radius: var(--scrollbar-bottom-radius, var(--scrollbar-thumb-radius));
    border-top-right-radius: var(--scrollbar-top-radius, var(--scrollbar-thumb-radius));
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    border: solid 2px transparent;
    border-radius: var(--scrollbar-thumb-radius);
    box-shadow: inset 0 0 var(--scrollbar-width) var(--scrollbar-width) var(--md-sys-color-scrollbar-thumb);

    &:hover {
      box-shadow: inset 0 0 var(--scrollbar-width) var(--scrollbar-width) var(--md-sys-color-scrollbar-thumb-hover);
    }
  }
}
