@use 'breakpoints';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  overflow: hidden;
}

h2 {
  height: min-content;
  margin: 0;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  overflow-y: auto;

  @include breakpoints.use(s, xs) {
    flex-direction: row;
  }
}
