table {
  width: 100%;
  --table-border-radius: var(--border-radius-m);
}

.tags-container {
  display: flex;
  gap: .5rem;
}

.labs-column-title {
  overflow: hidden;
  max-width: 0;
  white-space: nowrap;
  width: 30%;
}
